html,
body {
  height: 100%;
  //background: @gray-dark;
  background: darken(@brand-primary, 10%);
}

.content {
  min-height: calc(~"100vh - 30px");
}

.tunicate {
  position: relative;
  margin: 0 0 0 230px;
  min-height: 100vh;
  transition: margin .3s linear, transform .3s linear;
  background: @body-bg;

  &__side-bar {
    float: left;
    width: 230px;
    margin-right: -230px;
    color: #fff;
    vertical-align: top;
  }

  &__manipulator {
    margin: 0;
  }

  &__controller {
    display: none;
    &:checked ~ .tunicate {
      margin-left: 0;
    }
  }
  .navbar-nav>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.company-logo {
  display: block;
  padding: @padding-base-vertical @padding-base-horizontal;
  height: @navbar-height;
  font-size: floor(@font-size-base * 1.28571429);
  line-height: @line-height-computed;
  margin: 0 0 20px;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 1px #000;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &__image {
    display: inline-block;
    max-height: 20px;
    vertical-align: top;
    margin: 0 8px 0 0;
  }
}

.navbar {
  .breadcrumb {
    li {
      display: inline-block;
      max-width: 200px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.footer {
  width: 100%;
  height: 30px;
  padding: 5px 0 0;
  color: #8a8a8a;
  background: #f9f9f9;
}

@media (max-width: @screen-sm) {
  .navbar-header {
    float: left;
  }
  .navbar-right {
    float: right;
    margin: -1px 0 0;
  }
  .navbar .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
  }


  .tunicate {
    &__controller {
      display: none;
      & ~ .tunicate {
        margin-left: 0;
        transform: translateX(0);
      }
      &:checked ~ .tunicate {
        transform: translateX(230px);
      }
    }
  }


  .navbar {
    .breadcrumb {
      li {
        max-width: 100px;
      }
    }
  }
}